@import "../../custom.scss";

.home-container {
  .nosotros-header {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nosotros-header-item {
      width: 50%;
      &:nth-child(2) {
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .about-us-container {
    &.white {
      background-color: $white;
    }
  }

  .nosotros-images {
    display: flex;
    justify-content: space-between;
    width: 69%;
    margin: 32px auto;

    .nosotros-image-item {
      margin-right: 16px;
      .left-image-container {
        margin-top: 32px;
        padding-left: 120px;
      }
    }
  }

  .nosotros-item {
    width: 50%;

    &.right {
      text-align: right;
    }

    h1 {
      margin-bottom: 40px;
      font-family: "Sofia Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $textHight;
    }
  }

  .elegirnos-options {
    .option {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;

      .text {
        margin-left: 32px;
        .title {
          font-family: "Sofia Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $textHight;
          margin-bottom: 16px;
        }

        .description {
          font-family: "Sofia Pro";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    .nosotros-header {
      flex-direction: column !important;

      .nosotros-header-item:first-child {
        text-align: center;
      }
      .nosotros-header-item:last-child {
        width: 100%;
      }
    }

    .nosotros-images {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    .nosotros-image-item {
      &:first-child {
        margin-bottom: 20px;
      }
      img {
        width: 80%;
      }

      .left-image-container {
        padding-left: 0 !important;
        margin-top: 20px !important;
      }
    }

    .about-us-container {
      padding: 0 16px;
      background: $white;
      height: auto;

      &.white {
        margin-bottom: 28px;
      }

      img {
        width: unset;
        height: unset;
      }

      .nosotros-item {
        width: unset;
      }
    }
  }
}
