@import '../../custom.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  height: 108px;
  padding-top: 24px;
  padding-left: 81px;
  padding-right: 81px;

  .header-logo {
    position: relative;
    bottom: 10px;
  }

  .topnav {
    overflow: hidden;
  }

  button {
    font-family: 'Sofia Pro Light';
  }

  .topnav a {
    float: left;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 16px 16px 4px 16px;
    text-decoration: none;
    font-family: 'Sofia Pro Light';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .topnav a.active {
    border-bottom: 3.93px solid $secondary;
  }

  .contact {
    margin-right: 31px;
  }

  .select-locale {
    border: none;
    svg: {
      fill: 'red';
    }
  }

  /* hide menu on desktop */
  .navbar input[type='checkbox'],
  .navbar .hamburger-lines {
    display: none;
  }

  .menu-items {
    display: none;
  }

  /*** header mobile ***/

  @media (max-width: 1023px) {
    padding-right: 30px;
    padding-left: 30px;

    // .select-locale {
    //   display: none;
    // }

    .topnav {
      display: none;
    }

    .button-container {
      display: none;
    }

    .button-container-select {
      input {
        margin-right: 8px;
      }
      ul {
        padding-left: unset;
      }

      li {
        list-style: none;
        margin-bottom: 0 !important;
      }
    }

    .navbar {
      opacity: 0.95;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines {
      display: block;
    }

    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
      width: 47px;
    }

    .navbar-container input[type='checkbox'] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }

    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }

    .menu-items {
      position: absolute;
      top: 108px;
      z-index: 10000;
      width: 100%;
      left: 0;
      padding-top: 46px;
      background: #fff;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding-left: 17px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
      list-style: none;

      &.close {
        transform: translate(-102%);
      }

      a {
        text-decoration: none;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: $black;
      }

      .button-container {
        display: block;
      }
    }

    .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  }
}
