@import '../../custom.scss';

.footer-container {
  width: 100%;
  height: 380px;
  background-image: url(~/public/static/images/backgroundFooter.png);
  background-color: #07093e;
  background-size: 100%;
  background-repeat: repeat-x;

  .footer-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    .topnav {
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .topnav a {
      float: left;
      color: $white;
      text-align: center;
      padding: 16px 16px 4px 16px;
      text-decoration: none;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    margin-bottom: 80px;

    img {
      margin-right: 16px;
    }
  }

  .footer-separation {
    opacity: 0.5;
    height: 1px;
    width: 83%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.87);
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 23px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $white;
  }

  @media (max-width: 1023px) {
    .footer-copyright {
      font-size: 14px;
      padding-top: 12px;
    }
  }
}
