// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro Bold.ttf");
  src: local("☺"), url("./fonts/Sofia Pro Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Light";
  src: url("./fonts/sofiapro-light.otf");
  src: local("☺"), url("./fonts/sofiapro-light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Regular.ttf");
  src: local("☺"), url("./fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Colors
$primary: #502c85;
$secondary: #00beda;
$lightPurple: #8057b5;
$darkPurple: #200257;
$darkBlue: #0f123d;
$lightBlue: #64f1ff;
$lightGray: #ecf1f4;
$icons: #979797;
$white: #ffffff;
$textHight: #333333;
$textBody: #808080;
$black: #000000;

// Break points
$xs: 0;
$xsMobile: 351;
$sm: 768;
$md: 1024;
$lg: 1280;
$xl: 1440;

.button {
  box-sizing: border-box;
  width: 192px;
  height: 60px;
  border-radius: 8px;

  &.primary-outlined {
    border: 2px solid $primary;
    background-color: $white;
    color: $primary;
  }

  &.secondary {
    background: $secondary;
    border-radius: 8px;
    color: $white;
  }
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/** general mobile styles **/

@media (max-width: 1023px) {
  .top-image {
    .top-inner-content:last-child {
      display: none;
    }
  }

  .hide-mobile {
    display: none !important;
  }
}
